* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.797);
    height: 100vh;
}

header{
    text-align: center;
    width: 100%;
    height: 8em;
    background-color: rgba(240, 113, 170, 0.505);
    font-size: 1.3em;
}

h1 {
    text-align: center;
    padding: 0.4%;
    background-color: rgba(0, 0, 0, 0.826);
    color: antiquewhite;
    height: 40%;
}

.navigo {
    list-style: none;
    display: flex;
    width: 100%;
    height: 17%;
}

.navigation { 
    display: flex;
    list-style: none;
    width: 100%;
    padding: 1%;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    padding: 0.1%;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: rgb(25, 0, 255);
}

main {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.card {
    height: 95%;
    background-color: rgb(173, 229, 201);
    margin: 1%;
}

#left {
    width: 50%;
    flex: 1 auto;
    font-size: 140%;
    border-top-right-radius: 5%;
}

#left img {
    width: 18%;
    padding: 2%;
    float: left;
    margin-right: 2%;
}

#left .info1 {
    background-color: rgba(240, 255, 255, 0.588);
    height: 50%;
    padding: 2%;
    border-top-right-radius: 8%;
}

#left .top {
    width: 90%;
    text-align: justify;
    padding-top: 2%;
}

#left .bottom {
    width: 90%;
    padding-left: 2%;
    text-align: justify;
}

#left .info2 {
    background-color: rgba(117, 77, 219, 0.588);
    height: 33%;
    width: 95%;
    margin: 2%;
    text-align: justify;
    padding: 1%;
}

.info2 img {
    float: left;
}

#right{
    width: 30%;
    flex: 1 auto;
    border-top-left-radius: 5%;
}

.info {
    position:relative;
    left: 10%;
    top: 20%;
    font-size: 170%;
}

.info li {
    padding: 2%;
}

footer {
    height: 10em;
    background-color: rgba(15, 75, 17, 0.908);
    font-size: 1.5em;
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    padding: 1%;
}